/* The base of every button */
.btn {
  display: inline-block;
  text-decoration: none;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 1.42857143;
  padding: 6px 12px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  white-space: nowrap;
  vertical-align: middle;
}

/*
A display: inline-block az egyik legfontosabb. Az anchor elemek megjelenítése alapértelmezetten inline, ami azt jelenti, hogy nem szabályozhatod a box-modell tulajdonságaikat (mint egyes padding és margin értékek). Ez a szabály ezt a viselkedést változtatja meg, lehetővé téve, hogy az elemeket gombbá gyúrjuk.
A következő öt szabály (text-decoration, font-family, text-align, font-size és line-height) tipográfiával kapcsolatos.
A padding ad a szövegnek lélegzetvételnyi helyet, így nem tűnik majd a gomb zsúfoltnak.
A margin-bottom-ra vonatkozó szabály a gomb alatt teremt egy kis teret. Kisebb képernyőkön, ha egymás fölé rendeződnének a gombok, így nem érnek majd össze.
A border és a border-radius tulajdonságok hozzák létre az átlátszó, lekerekített bordert. Jelenleg ez nem látszik, mert transparent értéket adtunk meg neki, de amint adunk ezeknek színt a kontextuális classok segítségével, megjelennek.
A white-space: nowrap tulajdonság megakadályozza, hogy a szöveg az elemen belül új sorokba törhessen (ez nagyon hosszú gombfeliratoknál lehetne probléma).
És végül a vertical-align: middle rendezi a gombot annak a sornak a vertikális közepére, amelyben éppen van.
*/
/* The base of every button */
.btn {
  color: #fff;
}
/* Additional styles for "Default" */
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-default:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-primary {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:hover {
  background-color: #286090;
  border-color: #204d74;
}
.btn-success {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:hover {
  background-color: #449d44;
  border-color: #398439;
}
.btn-info {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:hover {
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-warning {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:hover {
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-danger {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:hover {
  background-color: #c9302c;
  border-color: #ac2925;
}

/* Previous and next button additional css add*/
.btn-previous {
  background-color: #fff;
  color: black;
  border-color: black;
}
.btn-previous:hover {
  background-color: black;
  color: #fff;
}
.btn-next {
  background-color: #fff;
  color: black;
  border-color: black;
}
.btn-next:hover {
  background-color: black;
  color: #fff;
}
/* ==== GENERAL STYLES ==== */

* {
  box-sizing: border-box;
}
/* ==== A SIMPLE TOP NAVIGATION ==== */

nav ul {
  background-color: #eee;
  text-align: center;
}
nav li {
  font-family: "Anton", sans-serif;
  font-size: 1.4rem;
  line-height: 3rem;
  height: 3rem;
  border-bottom: 1px solid #ccc;
}
nav a {
  text-decoration: none;
  color: #c74f78;
  display: block;
}
nav a:hover {
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;
}
nav a.active {
  background-color: #c74f78;
  color: #eee;
}
/* media query for navbar */
@media (min-width: 600px) {
  nav li {
    display: inline-block;
    border-bottom: none;
    width: 7.5rem;
  }
}
nav {
  font-size: 0;
}
/*css fo Header*/
header {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header img {
  width: 4rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}
header h1 {
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  color: #555;
  margin: 0.67rem 0;
}
header h2 {
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #777;
  letter-spacing: 0.1rem;
}
